{% extends "base.html" %}
{% block content%}

{% if form.errors %}
    <p class="alert alert-primary">Your username and/or password did not match. Please try again</p>

{% endif %}

{% if next %}
    {% if user.is_authenticated %}
        <p>Your account does not have access to this page, To proced, please login with an account that has access</p>
        {% else %}
        <p>Please login to see this site</p>
    {% endif %}
{% endif %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <input type="submit" class="btn btn_primary" value="Login" />
    <input type="hidden" name="next" value="{{ next }}" />
</form>

{% endblock%} 